/* Greens */
$green900: #1c4206;
$green800: #335822;
$green700: #3c6329;
$green600: #456e30;
$green500: #4c7735;
$green400: #678a55;
$green300: #93ac85;
$green200: #b9cab0;
$green100: #ecf1ea;
$green50: #f7f9f5;

/* Pinks */
$pink900: #a3067e;
$pink800: #c537a4;
$pink700: #df64c3;
$pink600: #ed8fd8;
$pink500: #efb1e2;
$pink400: #f1bde6;
$pink300: #f4c8eb;
$pink200: #f7d8f1;
$pink100: #fbeffb;
$pink50: #fcf7fc;

/* Sands */
$sand900: #8f4005;
$sand800: #b8753f;
$sand700: #dea679;
$sand600: #efc6a4;
$sand500: #f9dbc2;
$sand400: #fae0cb;
$sand300: #fbe6d4;
$sand200: #fcede1;
$sand100: #fcf4ee;
$sand50: #fefbf8;

/* Greys */
$grey700: #616161;
$grey300: #e0e0e0;
$grey95: #212121;
$grey50: #9e9e9e;
$grey25: #ededed;
$grey5: #f5f5f5;

/* Warnings */
$warning100: #ffcdd2;
$warning700: #d32f2f;
$warning900: #b71c1c;

/* Other */
$white: #ffffff;
$black: #000000;

/* Utility */
$text: #212121;
$line: #dee2e6;
$forms: #606060;
$error: #d90000;

$disabledInputBg: #f1f1f1;
